@import "./variables.scss";
.buy-button {
  padding: 5px 10px;
  height: 100%;
  box-sizing: content-box;
  background: #d88535;
  border: 1px solid #ffc064;
  box-shadow: 0px 0px 0 2px rgba(0, 0, 0, 1);
  .buy-now {
    color: #ffc064;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }
}
.big {
  font-size: 48px;
  line-height: 1;
  .buy-now {
    color: #ffc064;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
  }
}
