@import "./variables.scss";
.roadmap2 {
  .legend {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }
  .horiz-bar {
    @apply h-1.5 w-full bg-black rounded-full relative top-4;
  }
  .pivot-top {
    box-sizing: content-box;
    position: absolute;
    border: 6px solid black;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    top: 55%;
    right: 49%;
  }
  .pivot-bottom {
    box-sizing: content-box;
    position: absolute;
    border: 6px solid black;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    bottom: 45%;
    right: 49%;
  }
  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }
}
