@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* @font-face {
  font-family: "Frightmare";
  src: url(./font/Frightmare.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */
@font-face {
  font-family: "Frightmare";
  src: local("Frightmare"), url(./font/Frightmare.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background: #f1ecdf;
}

.font-fright {
  font-family: "Frightmare", sans-serif;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.my-container {
  width: 100%;
  padding: 0 40px;
  max-width: 864px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .my-container {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .my-container {
    max-width: 1080px;
  }
}

.faq-divider {
  @apply h-px bg-gray-500 w-full  opacity-50 flex-shrink-0;
}

/*Connect Wallet Section */
